# Deploy with: docker compose -f docker-compose.infra.yml up -d
services:
  traefik:
    image: ghcr.io/traefik/traefik:3.6
    container_name: traefik
    restart: always
    environment:
      - CLOUDFLARE_EMAIL=${CLOUDFLARE_EMAIL}
      - CLOUDFLARE_DNS_API_TOKEN=${CLOUDFLARE_DNS_API_TOKEN}
      - CLOUDFLARE_ZONE_API_TOKEN=${CLOUDFLARE_ZONE_API_TOKEN}
      - LETS_ENCRYPT_EMAIL=${LETS_ENCRYPT_EMAIL}
    command:
      - --ping=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=docker-compose-nas
      - --entrypoints.web.address=:80
      - --entrypoints.web-secure.address=:443
      - --entrypoints.web.http.redirections.entryPoint.to=web-secure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --certificatesresolvers.myresolver.acme.dnschallenge=${DNS_CHALLENGE:-true}
      - --certificatesresolvers.myresolver.acme.dnschallenge.provider=${DNS_CHALLENGE_PROVIDER:-cloudflare}
      - --certificatesresolvers.myresolver.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.myresolver.acme.caserver=${LETS_ENCRYPT_CA_SERVER:-https://acme-v02.api.letsencrypt.org/directory}
      - --certificatesresolvers.myresolver.acme.email=${LETS_ENCRYPT_EMAIL}
      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${CONFIG_ROOT:-.}/letsencrypt:/letsencrypt
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    extra_hosts:
      - host.docker.internal:172.17.0.1
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 1m
      retries: 10

  komodo-ferretdb:
    image: ghcr.io/ferretdb/ferretdb:1
    container_name: komodo-ferretdb
    restart: always
    labels:
      - komodo.skip=true
    volumes:
      - ${CONFIG_ROOT:-.}/komodo-sqlite:/state
    environment:
      - FERRETDB_HANDLER=sqlite

  komodo-core:
    image: ghcr.io/moghtech/komodo-core:latest
    container_name: komodo-core
    restart: always
    depends_on:
      - komodo-ferretdb
    ports:
      - "9120:9120"
    volumes:
      - ${CONFIG_ROOT:-.}/komodo-repo-cache:/repo-cache
    environment:
      - KOMODO_DATABASE_ADDRESS=komodo-ferretdb
      - KOMODO_HOST=${KOMODO_HOST:-http://localhost:9120}
      - KOMODO_TITLE=${KOMODO_TITLE:-Docker-Compose NAS Komodo}
      - KOMODO_FIRST_SERVER=https://komodo-periphery:8120
      - KOMODO_LOCAL_AUTH=${KOMODO_LOCAL_AUTH:-true}
      - KOMODO_ENABLE_NEW_USERS=${KOMODO_ENABLE_NEW_USERS:-false}
      - KOMODO_TRANSPARENT_MODE=${KOMODO_TRANSPARENT_MODE:-false}
      - KOMODO_DISABLE_CONFIRM_DIALOG=${KOMODO_DISABLE_CONFIRM_DIALOG:-false}
      - KOMODO_MONITORING_INTERVAL=${KOMODO_MONITORING_INTERVAL:-15-sec}
      - KOMODO_RESOURCE_POLL_INTERVAL=${KOMODO_RESOURCE_POLL_INTERVAL:-5-min}
      - KOMODO_WEBHOOK_SECRET=${KOMODO_WEBHOOK_SECRET:-}
      - KOMODO_JWT_SECRET=${KOMODO_JWT_SECRET:-}
      - KOMODO_DISABLE_USER_REGISTRATION=${KOMODO_DISABLE_USER_REGISTRATION:-false}
      - KOMODO_DISABLE_NON_ADMIN_CREATE=${KOMODO_DISABLE_NON_ADMIN_CREATE:-false}
      - KOMODO_JWT_TTL=${KOMODO_JWT_TTL:-1-day}
      - KOMODO_PASSKEY=${KOMODO_PASSKEY:-default-passkey-change-me}
      - TZ=${TIMEZONE:-America/New_York}
      - PERIPHERY_DOCKER_NETWORK=docker-compose-nas
      - KOMODO_OIDC_ENABLED=true
      - KOMODO_OIDC_PROVIDER=https://${POCKET_ID_HOSTNAME}
      - KOMODO_OIDC_CLIENT_ID=${KOMODO_OIDC_CLIENT_ID}
      - KOMODO_OIDC_CLIENT_SECRET=${KOMODO_OIDC_CLIENT_SECRET}
    labels:
      - komodo.skip=true
      - traefik.enable=true
      - traefik.http.routers.komodo.rule=(Host(`${KOMODO_HOSTNAME}`))
      - traefik.http.routers.komodo.tls=true
      - traefik.http.routers.komodo.tls.certresolver=myresolver
      - traefik.http.services.komodo.loadbalancer.server.port=9120
      - traefik.docker.network=docker-compose-nas

  komodo-periphery:
    image: ghcr.io/moghtech/komodo-periphery:latest
    container_name: komodo-periphery
    restart: always
    ports:
      - "8120:8120"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - ${CONFIG_ROOT:-.}/komodo-periphery:/etc/komodo
      # - ${PWD}:${PWD}
      - ${DATA_ROOT:-/volume1/data}:${DATA_ROOT:-/volume1/data}
    environment:
      - PERIPHERY_ROOT_DIRECTORY=/etc/komodo
      - PERIPHERY_PASSKEYS=${KOMODO_PASSKEY:-default-passkey-change-me}
      - PERIPHERY_SSL_ENABLED=${PERIPHERY_SSL_ENABLED:-false}
      - PERIPHERY_REPO_DIR=/etc/komodo/repos
      - PERIPHERY_STACK_DIR=/etc/komodo/stacks
      - TZ=${TIMEZONE}
    labels:
      - komodo.skip=true

  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1
    container_name: pocket-id
    restart: unless-stopped
    environment:
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - APP_URL=https://${POCKET_ID_HOSTNAME}/
      - TRUST_PROXY=${POCKET_ID_TRUST_PROXY}
      - ENCRYPTION_KEY=${POCKET_ID_ENCRYPTION_KEY}
    ports:
      - 1411:1411
    volumes:
      - "${CONFIG_ROOT:-.}/pocket-id/data:/app/data"
    # Optional healthcheck
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    labels:
      - traefik.enable=true
      - traefik.http.routers.pocket-id.rule=Host(`${POCKET_ID_HOSTNAME}`) && PathPrefix(`/`)
      - traefik.http.routers.pocket-id.tls=true
      - traefik.http.routers.pocket-id.tls.certresolver=myresolver
      - traefik.http.services.pocket-id.loadbalancer.server.port=1411
      - traefik.docker.network=docker-compose-nas

networks:
  default:
    name: docker-compose-nas
    external: true
